<h2>{{formData.isEditMode ? 'Edit' : 'Add'}} Ingredients</h2>
<form class="recipeForm">
    <mat-form-field class="ingredient-name">
      <mat-label>Ingredient Name</mat-label>
      <input matInput placeholder="Ingredient Name" name="ingrediantName" [(ngModel)]="formData.ingrediantName">
    </mat-form-field>
  
    <mat-form-field class="Quantity">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantityy" name="quantity" [(ngModel)]="formData.quantity">
    </mat-form-field>
</form>
<div class="dialog-footer">
    <button mat-button color="primary"
    [disabled]="!formData.ingrediantName || !formData.quantity"
    (click)="onSubmit()">Submit</button>
    <button mat-button color="warn" (click)="onClose()">Cancel</button>
</div>