<h2>{{formData.isEditMode ? 'Edit' : 'Add'}} Recipe</h2>
<form class="recipeForm">
    <mat-form-field class="recipe-name">
      <mat-label>Recipe Name</mat-label>
      <input matInput placeholder="Recipe Name" name="recipeName" [(ngModel)]="formData.recipeName">
    </mat-form-field>
  
    <mat-form-field class="recipe-desc">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Recipe description" name="recipeDesc" [(ngModel)]="formData.desription"></textarea>
    </mat-form-field>
</form>
<div class="dialog-footer">
    <button mat-button color="primary" 
    [disabled]="!formData.recipeName || !formData.desription"
    (click)="onSubmit()">Submit</button>
    <button mat-button color="warn" (click)="onClose()">Cancel</button>
</div>