<div class="recipes-wrapper">
  <div class="recipe-list" *ngFor="let recipe of recipes">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title><b style="margin-right: 10px">Recipe Name: </b>{{recipe.recipeName}}</mat-panel-title>
        </mat-expansion-panel-header>
        <b>Description:</b>
        <p>{{recipe.desription}}</p>
        <div class="ingredients">
          <table>
            <tr> 
                <td><b>Ingredient Name</b></td>
                <td *ngFor="let item of recipe.ingredaints">{{item.ingrediantName}}</td>
            </tr>
            <tr>
                <td><b>Quantity</b></td>
                <td *ngFor="let item of recipe.ingredaints">{{item.quantity}}</td>
            </tr>
            <tr>
                <td><b>Actions</b></td>
                <td *ngFor="let item of recipe.ingredaints">
                  <div>
                    <button mat-button color="primary" (click)="editIngredients(item,recipe.recipeId,true)">Edit Ingredient</button>
                  </div>
                  <div>
                    <button mat-button color="warn" (click)="delIngredient(item)">Delete Ingredient</button>
                  </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="footer">
          <button mat-button color="primary" (click)="editIngredients({},recipe.recipeId,false)">Add Ingredient</button>
          <button mat-button color="primary" (click)="editRecipe(recipe,true)">Edit Recipe</button>
          <button mat-button color="warn" (click)="delRecipe(recipe)">Delete Recipe</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="addRecipes">
  <button mat-button color="primary" (click)="editRecipe({},false)">Add Recipe</button>
</div>